*{
    font-family: 'Roboto', sans-serif;
}
header{
    background: #FCC300;
    color: #fff
}
figure{
    margin: 0;
    display: inline-block;
    position: relative;
}
figcaption{
    display: none;
    transition: all 1s;
    background: #34495e;
    color: #fff;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 10%;
    opacity: 0.7;
    position: absolute;
}
figure:hover figcaption{
    display: block;
}
.row{
    padding: 2em;
}
.color1{
    background: #34495e;
    color: #fff;
}
aside{
    background: #c0392b;
}
footer{
    background: #16a085;
    color: #fff;
}
li {
    display: inline-block;
    margin: 1em;
    *display:inline;
}